body,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

p {
    color: white;
}

img {
    border-radius: 75%;
    width: 10vw;
}


body {
    /* background-color: #252525; */
    background-image: url("redbg.jpeg");
    background-size: 100vw;
    color: #FF0000;
    font-family: Arial, sans - serif;
}


header {
    text-align: center;
    background-color: #AF0404;
    padding:
        20px 0;
}

header h1 {
    font-size: 36px;
    color: white;
    margin-bottom: 5px;
}

header p {
    font-size: 18px;
    color: white;
}


nav ul {
    list-style: none;
    text-align: center;
    background-color: #333;
    padding:
        10px 0;
}

nav li {
    display:
        inline;
    margin:
        0 20px;
}

nav a {
    text-decoration: none;
    color:
        white;
    font-weight: bold;
    font-size: 16px;
}


section {
    padding:
        30px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}


.project {
    margin-bottom: 20px;
    border: 1px solid #414141;
    padding: 10px;
    background-color: #414141;
    border-radius: 25px;
    text-align: center;
}

.project h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.project p {
    font-size: 16px;
}

.project a {
    text-decoration: none;
    color:
        #AF0404;
    font-weight: bold;
}

.skills {
    margin-bottom: 20px;
    border: 1px solid #414141;
    padding: 10px;
    background-color: #414141;
    text-decoration: none;
    color: #AF0404;
    font-weight: bold;
}

.skills p {
    font-size: 20px;
}

.rounded {
    background-color: #2f2b2bde;
    border-radius: 200px;
    text-align: center;
    margin: 10px;
}


footer {
    text-align: center;
    background-color: #414141;
    color:
        white;
    padding:
        10px 0;
    font-size: 14px;
}

/* .wave {
    display: block;
    position: relative;
    height: 40px;
    width: 100%;
    background: rgb(57, 27, 112);
    transform: scale(1, 1);
} */


@media(max-width : 768px) {
    nav ul {
        padding-top: 20px;
    }

    nav li {
        display:
            block;
        margin:
            10px 0;
    }
}