* {
    margin: 0;
}

body,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 5vw;
    /* adds a outline over text */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


p {
    color: white;
    letter-spacing: 0.35px;
    padding: 20px;
}

img {
    text-align: center;
    border-radius: 75%;
    width: 48vw;
}

a:visited {
    color: white;
}

a:hover {
    background-color: black;
    color: rgb(213, 75, 75);
}

body {
    /* background-color: #252525; */
    background-image: url("redbg.jpeg");
    background-size: auto;
    color: #FF0000;
    font-family: Arial, sans - serif;
}


header {
    text-align: center;
    background-color: #AF0404;
    padding:
        20px 0;
}

header h1 {
    font-size: 36px;
    color: white;
    margin-bottom: 5px;
}

header p {
    font-size: 18px;
    color: white;
}

nav {}

nav ul {
    list-style: none;
    text-align: center;
    background-color: #333;
    padding:
        10px 0;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}


section {
    padding:
        30px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

form {
    text-align: center;
    font-weight: bold;
}


.project {
    margin-bottom: 20px;
    border: 1px solid #414141;
    padding: 10px;
    background-color: #414141;
    border-radius: 25px;
    text-align: center;
}

.project h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.project p {
    font-size: 16px;
}

.project a {
    text-decoration: none;
    color:
        #AF0404;
    font-weight: bold;
}

.skills {
    margin-bottom: 20px;
    border: 1px solid #414141;
    padding: 10px;
    background-color: #414141;
    text-decoration: none;
    color: #AF0404;
    font-weight: bold;
}

.skills p {
    font-size: 20px;
}

.rounded {
    background-color: rgba(47, 43, 43, 0.77);
    border-radius: 200px;
    text-align: center;
    margin: 10px;
    border-color: #FF0000;
    border-style: double;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.heading {
    text-align: center;
    font-size: 3vw;
    color: white;
}

/* .navimg {
    size: 10000vw;
} */


footer {
    text-align: center;
    background-color: #414141;
    color:
        white;
    padding:
        10px 0;
    font-size: 14px;
}

/* .wave {
    display: block;
    position: relative;
    height: 40px;
    width: 100%;
    background: rgb(57, 27, 112);
    transform: scale(1, 1);
} */


@media(max-width : 768px) {
    nav ul {
        padding-top: 20px;
    }

    nav li {
        display:
            block;
        margin:
            10px 0;
    }
}